In [17]:
import pandas as pd
import numpy as np

Load data

In [6]:
data = pd.read_csv('data/CaliforniaHousing/cal_housing.data', names=['INTERCEPT','MEDIAN INCOME',
                                                                    'MEDIAN INCOME2','MEDIAN INCOME3',
                                                                    'ln(MEDIAN AGE)','ln(TOTAL ROOMS/ POPULATION)',
                                                                    'ln(BEDROOMS/ POPULATION)','ln(POPULATION/ HOUSEHOLDS)',
                                                                    'ln(HOUSEHOLDS)'])

In [7]:
data.head()

,INTERCEPT,MEDIAN INCOME,MEDIAN INCOME2,MEDIAN INCOME3,ln(MEDIAN AGE),ln(TOTAL ROOMS/ POPULATION),ln(BEDROOMS/ POPULATION),ln(POPULATION/ HOUSEHOLDS),ln(HOUSEHOLDS)
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [10]:
data['MEDIAN INCOME'].describe()

count    20640.000000
mean        35.631861
std          2.135952
min         32.540000
25%         33.930000
50%         34.260000
75%         37.710000
max         41.950000
Name: MEDIAN INCOME, dtype: float64

In [14]:
domain = pd.read_csv('data/CaliforniaHousing/cal_housing.domain', header=None)

In [15]:
domain.head()

                                0
0          longitude: continuous.
1           latitude: continuous.
2  housingMedianAge: continuous.
3        totalRooms: continuous.
4     totalBedrooms: continuous.

In [21]:
data['ln(POPULATION)'] = data['ln(POPULATION/ HOUSEHOLDS)'] * data['ln(HOUSEHOLDS)']
data['ln(BEDROOMS)'] = data['ln(BEDROOMS/ POPULATION)'] * data['ln(POPULATION)']
data['ln(TOTAL ROOMS)'] = data['ln(TOTAL ROOMS/ POPULATION)'] * data['ln(POPULATION)']

In [22]:
data['POPULATION'] = np.exp(data['ln(POPULATION)'])

/Users/siddharth/gits/datascience/venvs/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: overflow encountered in exp
  """Entry point for launching an IPython kernel.

In [26]:
data['ln(BEDROOMS)'].head()

0    4.747662e+08
1    3.386747e+09
2    4.522935e+08
3    4.217918e+08
4    3.408879e+08
Name: ln(BEDROOMS), dtype: float64